body{
	margin: 0;
	padding: 0;
	color: $color-text;
}
/*Nav*/
.navbar-default{
	background-color: $color-blanco;
	border-radius: 0;
	.fa-pinterest{
		font-size: 30px;
		color: #BD081B;
		padding: 9px 0;
	}
	.inicio{
		font-weight: bold;
	}
	.input-icons{
		.dropdown a{
			padding: 8px 10px 4px;
		}
		.icons-nav{
			li a{
				padding: 15px 5px;
				.fa-commenting{
					background-color: $color-gris-secundario;
					padding:10px;
					border-radius: 100%;
					color: $color-blanco;
					margin-top: -10px;
				}
			}
			img{
				width: 25px;
				border-radius: 100%;
			}
		}
	}		
}
.navbar-form{
	width: 70%;
	padding: 0;
}
.dropdown-toggle{
	background-color:#ddd;
	padding-bottom: 5px;
	margin: 0;
	margin-top: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #ccc;
}

/*Nav input search*/
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
	height: 0;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
    color: $color-text;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
    background-color: #ddd;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.navbar-form .form-group {
    width: 100% !important;
}

/*Galeria*/
.cont-img{
	column-width: 250px;
  	column-gap: 30px;
  	padding: 0 5px;
}
.item-pint{
	position: relative;
    display: inline-block;
    width: 100%; 
    height: auto;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
	img{
		width: 100%;
		border-radius: 10%;
	}
	.text-desc{
		padding: 0 15px;
		h1{
			font-size: 15px;
			font-weight: bold;
		}
		p{
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
		h6{
			@include user-profile();
			padding: 8px 9px;
		}
		h4{
			font-size: 12px;
			display: inline-block;
		}
		a{
			@include hashtag();
			font-size: 11px;
		}
	}
}
.modal-content{
	padding: 0 20px;
	.modal-header{
		border-bottom: none;
		padding-bottom: 0;
		.fa-thumb-tack{
				padding: 0;
		}
	}
	.modal-body{
		padding-top: 0;
		.iconos{
			padding: 10px 0;
			.fa-thumb-tack{
				padding: 0;
			}
		}
	}
	img{
		width: 100%;
	}
	h1{
		padding: 8px 0;
		margin: 0;
		font-size: 25px;
		font-weight: bold;
	}
	h6{
		@include user-profile();
		padding: 8px 13px;
		font-size: 30px;
		font-weight: bold;
	}
	h4{
		display: inline-block;
	}
	a{
		@include hashtag();
		font-size: 14px
	}
	p{
		color: $color-gris;
	}
	i{
		color: $color-gris-secundario; 
		padding: 0 10px;
		font-size: 20px;
	}
	.btn-save{
		float: right;
		background-color: $color-rojo-btn;
		color: $color-blanco;
		border: none;
		i{
			color: $color-blanco;
			font-size: 15px;
		}
	}
	.btn-read{
		position: absolute;
		right: 15px;
		bottom: 85px;
		background-color: #ddd;
		border: none;
	}
	.btn-read:hover{
		background-color: $color-gris-secundario;
		color: $color-blanco;
	}
	.btn-save:hover{
		background-color: #BD4759;
	}
}

